.SearchTerms {
  margin-top: 1rem;
}

.SearchTerms-list {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.SearchTerms-list li {
  color: #aaa;
  font-size: 0.75rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.SearchTerms-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchTerms-search span {
  background-color: #7fdbff;
  border: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  color: #111;
  cursor: pointer;
  display: block;
  font-size: 0.75rem;
  font-weight: normal;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.25s;
}

.SearchTerms-search span:focus,
.SearchTerms-search span:hover {
  background-color: #0074d9;
  color: #fff;
}

.SearchTerms-search button,
.SearchTerms-search button {
  background-color: #7fdbff;
  border: 0;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #111;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.25s;
}

.SearchTerms-list button:focus,
.SearchTerms-list button:hover {
  background-color: #ff4136;
  outline: none;
}