.SearchForm {
  align-items: center;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 0.25rem solid #0074d9;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: box-shadow 0.25s;
}

.SearchForm:focus-within {
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0, 0.25);
}

.SearchForm label {
  justify-content: flex-start;
  display: flex;
  flex: 1 1 100%;
}

.SearchForm input {
  border: 0;
  flex: 1;
  line-height: 1.5;
  transition: box-shadow 0.25s;
}

.SearchForm input:focus,
.SearchForm input:hover {
  outline: none;
}

.SearchForm button[type="submit"] {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex: 1 1 auto;
}

.SearchForm button[type="submit"]:focus,
.SearchForm button[type="submit"]:hover {
  outline: none;
}