.Search {
  background-color: #fff;
  border-radius: 0.25rem;
  border: 0.125rem solid #ddd;
  display: flex;
  margin-bottom: 1rem;
  transition: box-shadow 0.25s;
}

.Search:focus-within {
  box-shadow: 0 0 0 0.25rem #0074d9;
}

.Search-label {
  display: flex;
  flex: 1 1 100%;
  justify-content: flex-start;
  padding: 1rem;
}

.Search-input {
  border: 0;
  flex: 1;
  line-height: 1.5;
  transition: box-shadow 0.25s;
}

.Search-input:focus,
.Search-input:hover {
  outline: none;
}

.Search-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex: 1 1 auto;
  padding: 1rem;
  transition: background-color 0.25s;
}

.Search-button:focus,
.Search-button:hover {
  background-color: #ddd;
  outline: none;
}