.Search {
  align-items: center;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 0.25rem solid #0074d9;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: box-shadow 0.25s;
}

.Search:focus-within {
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0, 0.25);
}

.Search-label {
  justify-content: flex-start;
  display: flex;
  flex: 1 1 100%;
}

.Search-input {
  border: 0;
  flex: 1;
  line-height: 1.5;
  transition: box-shadow 0.25s;
}

.Search-input:focus,
.Search-input:hover {
  outline: none;
}

.Search-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex: 1 1 auto;
}

.Search-button:focus,
.Search-button:hover {
  outline: none;
}