.App {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.App-title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 0;
}

.App-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
  padding: 0 1em 1em 1em;
  position: relative;
}

.App-section--full {
  max-width: 100%;
  text-align: center;
}

@media all and (min-width: 45rem) {
  .App {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}